.center{
    text-align: center;
}
.green{
    color: green;
}
.blue{
    color: #227df2;
}
.inline{
    display: inline;
    margin-left: 5px;
    padding: 5px 10px 5px 10px;
}
.bg-blue{
    background-color: #227df2;
}
.bg-green{
    background-color: green;
}
.row{
    background-color: #dbd8d4;
    padding: 10px;
}
button{
    color: #fff;
}
.selected{
    border-color: #fff;
    box-shadow: 3px 3px #888;
}